html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url('../static/body.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.container-fluid{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.margin-top-30{
    padding-top: 35px;
}
.container{
    text-align: center;
    height: 100%
}
.eat_how{
    font-size: 1.5em;
    width: 230px;
    height: 100px;
    margin: 20px auto;
} 
.eat_where{
    font-size: 1.5em;
    width: 230px;
    height: 80px;
    margin: 16px auto;
}
#eat_tip{
    padding-top: 150px;
}
#eat_result{
    margin-top: 20px;
    color: orange;
}
#start{
    font-size: 1.5em;
    width: 230px;
    height: 80px;
    margin: 16px auto;
}
.temp{
    position: absolute;
}