<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <title>要吃啥</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/slim-min.css">
    <link type="text/css" rel="stylesheet" href="../static/my.css">
<!-- <script src="//weixiao.qq.com/js/MTAH5/stats.js" id="WXH5" sid="500496303"></script> -->
</head>
<body >
    <div class="container" id="top">
        <nav class="navbar navbar-light bg-faded navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">What To Eat</a>
            </div>
        </nav>
        <div id="first_page"  class="center-block container" >
            <h1 class="margin-top-30">怎么吃</h1>
            <button class="btn btn-secondary eat-how" id="eat-out">堂食</button><br/>
            <button class="btn btn-secondary eat-how" id="eat-deliver">外卖</button>
        </div>

        <div id="second_page"  class="center-block container" style="display:none;">
            <h1 class="margin-top-30">我在哪</h1>
            <button type="button" class="btn btn-secondary eat-where" id="eat-where-0">校本部东区</button><br/>
            <button type="button" class="btn btn-secondary eat-where" id="eat-where-1">校本部西区</button><br/>
            <button type="button" class="btn btn-secondary eat-where" id="eat-where-2">校本部东丽</button><br/>
            <button type="button" class="btn btn-secondary eat-where" id="eat-where-3">韩东校区</button>
        </div>

        <div id="third_page"  class="center-block container" style="display:none;">
            <h2 id="eat-tip">今天要吃啥好呢</h1>
            <h3 id="eat-result">&nbsp;</h2>
            <button class="btn btn-secondary " id="start">开始选择</button><br/>
        </div>

        <textarea rows="9" cols="53" id="list" style="display:none">
            馄饨 拉面 烩面 热干面 刀削面 油泼面 炸酱面 炒面 重庆小面 米线 酸辣粉 土豆粉 螺狮粉 凉皮儿 麻辣烫肉夹馍 羊肉汤 炒饭 盖浇饭 卤肉饭 烤肉饭 黄焖鸡米饭 驴肉火烧 川菜 麻辣香锅 火锅 酸菜鱼 烤串 披萨 烤鸭 汉堡 炸鸡 寿司 蟹黄包 粽子 煎饼果子 生煎 炒年糕
        </textarea>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="../static/random.js"></script>
</body>
</html>