<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <title>要吃啥</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/slim-min.css">
    <link type="text/css" rel="stylesheet" href="../static/my.css">
<!-- <script src="//weixiao.qq.com/js/MTAH5/stats.js" id="WXH5" sid="500496303"></script> -->
</head>
<body >
    <div class="container-fluid" id="top">
        <nav class="navbar navbar-light bg-faded navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">What To Eat</a>
            </div>
        </nav>
        <div id="first_page"  class="center-block container" >
            <h1 class="margin-top-30">怎么吃</h1>
            <button class="btn btn-outline-dark b eat_how" id="eat_out"  >堂食</button><br/>
            <button class="btn btn-outline-dark b eat_how" id="eat_deliver" >外卖</button>
        </div>

        <div id="second_page"  class="center-block container" style="display:none;">
            <h1 class="margin-top-30">我在哪</h1>
            <button type="button" class="btn btn-outline-dark b eat_where" id="area_1" >校本部东区</button><br/>
            <button type="button" class="btn btn-outline-dark b eat_where" id="area_2">校本部西区</button><br/>
            <button type="button" class="btn btn-outline-dark b eat_where" id="area_3">校本部东丽</button><br/>
            <button type="button" class="btn btn-outline-dark b eat_where" id="area_4">韩东校区</button>
        </div>

        <div id="third_page"  class="center-block container" style="display:none;">
            <h2 id="eat_tip">今天要吃啥好呢</h1>
            <h3 id="eat_result" class="b">&nbsp;</h2>
            <button class="btn btn-outline-dark  " id="start">开始选择</button><br/>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="../static/random.js"></script>
</body>
</html>